<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MyDiaryAi</title>
  <link rel="stylesheet" href="css/style.css" />
</head>
<body>
  <header>
    <a class="logo" href="index.html">diary.ai</a>
    <nav>
      <ul class="header-ul">
        <li><a href="#">Log in</a></li>
        <li><a href="sign_up.html">Sign up</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h1>Today's Goals</h1>
    <label for="newTask"></label>
    <input type="text" id="newTask" placeholder="Add new task...">
    <button onclick="addTask()">Add</button>
    <div class="task-list">
		<ul id="taskList"></ul>
	</div>
  </main>

<script src="js/script.js"></script>
</body>
</html>
